In [ ]:
import pandas as pd
import numpy as np
from pandas.plotting import scatter_matrix
import plotly.express as px

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv("/content/gdrive/MyDrive/business_dynamics.csv")

In [ ]:
unique_states = df['State'].unique()

In [ ]:
job_creation_mean = list()

In [ ]:
for state in unique_states:
  # print(state, df.loc[df['State'] == state, 'Data.Job Destruction.Rate'].mean())
  m=(df.loc[df['State'] == state, 'Data.Job Creation.Rate'].mean())
  job_creation_mean.append(m)

print(job_creation_mean)

[15.720146341463415, 19.478048780487807, 19.52965853658537, 15.329512195121952, 17.822536585365853, 18.321024390243903, 14.08468292682927, 15.882243902439022, 15.171414634146341, 19.18321951219512, 17.157853658536585, 15.393560975609757, 17.35041463414634, 14.59892682926829, 14.334512195121953, 13.589682926829266, 15.036585365853655, 15.113804878048779, 16.628414634146345, 14.327512195121951, 15.934121951219515, 14.579731707317073, 14.7920243902439, 14.837731707317072, 15.130097560975608, 14.902756097560975, 16.524658536585363, 14.269658536585366, 19.29419512195122, 15.328756097560975, 15.742195121951218, 17.637121951219513, 14.931829268292685, 15.179853658536587, 14.937853658536582, 14.125121951219516, 16.66507317073171, 16.589219512195122, 13.915439024390244, 14.07231707317073, 15.51631707317073, 14.621731707317073, 15.74039024390244, 18.41887804878049, 18.290146341463412, 14.07748780487805, 15.942317073170729]

In [ ]:
job_destruction_mean = list()

In [ ]:
for state in unique_states:
  # print(state, df.loc[df['State'] == state, 'Data.Job Destruction.Rate'].mean())
  m=(df.loc[df['State'] == state, 'Data.Job Destruction.Rate'].mean())
  job_destruction_mean.append(m)

print(job_destruction_mean)

[14.091756097560976, 17.04039024390244, 15.822097560975607, 13.489536585365855, 15.634341463414632, 15.466341463414631, 13.197487804878048, 13.947219512195122, 13.423219512195121, 16.037195121951218, 14.663853658536585, 13.426146341463415, 14.814414634146344, 13.590390243902439, 12.994536585365855, 12.197536585365855, 13.365902439024392, 13.447999999999999, 15.189536585365852, 12.900365853658538, 13.97819512195122, 13.09339024390244, 13.728682926829268, 12.702414634146344, 13.712121951219512, 13.356731707317072, 14.517585365853655, 12.512951219512194, 15.22931707317073, 13.083341463414635, 14.401024390243906, 15.573560975609759, 13.680146341463415, 13.140951219512194, 12.681268292682928, 13.185317073170731, 14.969195121951222, 14.328682926829268, 12.808536585365855, 13.192414634146342, 13.595341463414634, 12.34070731707317, 13.841756097560975, 15.766682926829265, 14.870707317073173, 12.543024390243902, 13.692756097560974]

In [ ]:
net_job_mean = list()

In [ ]:
for i in range(len(job_destruction_mean)):
  net_job_mean.append(job_creation_mean[i] - job_destruction_mean[i])

In [ ]:
net_job_mean

[1.6283902439024391,
 2.437658536585367,
 3.7075609756097627,
 1.839975609756097,
 2.188195121951221,
 2.8546829268292715,
 0.8871951219512226,
 1.9350243902438997,
 1.7481951219512197,
 3.146024390243902,
 2.4939999999999998,
 1.9674146341463423,
 2.535999999999996,
 1.0085365853658512,
 1.339975609756097,
 1.3921463414634108,
 1.6706829268292633,
 1.66580487804878,
 1.4388780487804933,
 1.4271463414634127,
 1.9559268292682948,
 1.4863414634146324,
 1.0633414634146323,
 2.1353170731707287,
 1.4179756097560965,
 1.5460243902439021,
 2.007073170731708,
 1.7567073170731717,
 4.064878048780489,
 2.2454146341463392,
 1.3411707317073116,
 2.0635609756097537,
 1.25168292682927,
 2.038902439024392,
 2.2565853658536543,
 0.9398048780487844,
 1.6958780487804876,
 2.2605365853658537,
 1.1069024390243882,
 0.8799024390243879,
 1.9209756097560966,
 2.2810243902439034,
 1.8986341463414647,
 2.652195121951223,
 3.4194390243902397,
 1.534463414634148,
 2.2495609756097554]

In [ ]:
test_list=[unique_states, job_creation_mean, job_destruction_mean, net_job_mean]

In [ ]:
newData = pd.DataFrame(test_list, index=['state', 'Job_Creation_Mean', 'Job_Destruction_Mean', 'Net_Job_Mean']).T
newData

                   state Job_Creation_Mean Job_Destruction_Mean Net_Job_Mean
0                Alabama         15.720146            14.091756      1.62839
1                 Alaska         19.478049             17.04039     2.437659
2               Arkansas         19.529659            15.822098     3.707561
3             California         15.329512            13.489537     1.839976
4               Colorado         17.822537            15.634341     2.188195
5               Delaware         18.321024            15.466341     2.854683
6   District of Columbia         14.084683            13.197488     0.887195
7                Florida         15.882244             13.94722     1.935024
8                Georgia         15.171415             13.42322     1.748195
9                 Hawaii          19.18322            16.037195     3.146024
10                 Idaho         17.157854            14.663854        2.494
11               Indiana         15.393561            13.426146     1.967415
12                  Iowa         17.350415            14.814415        2.536
13                Kansas         14.598927             13.59039     1.008537
14              Kentucky         14.334512            12.994537     1.339976
15             Louisiana         13.589683            12.197537     1.392146
16                 Maine         15.036585            13.365902     1.670683
17              Maryland         15.113805               13.448     1.665805
18         Massachusetts         16.628415            15.189537     1.438878
19              Michigan         14.327512            12.900366     1.427146
20             Minnesota         15.934122            13.978195     1.955927
21           Mississippi         14.579732             13.09339     1.486341
22              Missouri         14.792024            13.728683     1.063341
23               Montana         14.837732            12.702415     2.135317
24              Nebraska         15.130098            13.712122     1.417976
25                Nevada         14.902756            13.356732     1.546024
26         New Hampshire         16.524659            14.517585     2.007073
27            New Jersey         14.269659            12.512951     1.756707
28            New Mexico         19.294195            15.229317     4.064878
29              New York         15.328756            13.083341     2.245415
30        North Carolina         15.742195            14.401024     1.341171
31          North Dakota         17.637122            15.573561     2.063561
32                  Ohio         14.931829            13.680146     1.251683
33              Oklahoma         15.179854            13.140951     2.038902
34                Oregon         14.937854            12.681268     2.256585
35          Pennsylvania         14.125122            13.185317     0.939805
36          Rhode Island         16.665073            14.969195     1.695878
37        South Carolina          16.58922            14.328683     2.260537
38          South Dakota         13.915439            12.808537     1.106902
39                 Texas         14.072317            13.192415     0.879902
40                  Utah         15.516317            13.595341     1.920976
41               Vermont         14.621732            12.340707     2.281024
42              Virginia          15.74039            13.841756     1.898634
43            Washington         18.418878            15.766683     2.652195
44         West Virginia         18.290146            14.870707     3.419439
45             Wisconsin         14.077488            12.543024     1.534463
46               Wyoming         15.942317            13.692756     2.249561

In [ ]:
newData.to_csv('/content/gdrive/MyDrive/Business_Dynamics_mean.csv')